@tailwind base;
@tailwind components;
@tailwind utilities;

.input1{
  width: 700px;
  font-size: 17px;
}
.btn{
  font-size: 17px;
  margin-left: 15px;
}
body{
  box-sizing: border-box;
}
.section1{
  position: fixed;
  top: 612px;
  left: 361px;
}



@media only screen and (max-width:2720px) and (min-width:2560px) {
  .head{
    padding: 31px 0;
    font-size: 33px;
  }
  .list1{
    padding: 18px 50px;

  }
  .list1 h5{
    font-size: 30px;
  }
  .list2{
    padding: 18px 50px;
  }
  .list2 h5{
    font-size: 30px;
  }
  .list2 button{
    padding: 14px;
    font-size: 24px;
  }
  .input1{
    width: 898px;
    font-size: 26px;
  }
  .btn{
    font-size: 26px;
  }

  .section1{
    
    left: 754px;
    top: 990px;
    
  }
}

/* @media screen and (max-width:1439px) and (min-width:1025px){
  .head{
    padding: 15px 0;
    font-size: 24px;
  }
  .list1{
    padding: 0px 50px;

  }
  .list1 h5{
    font-size: 15px;
  }
  .list2{
    padding: 18px 50px;
  }
  .list2 h5{
    padding: 8px 0;
    font-size: 15px;
  }
  .list2 button{
    padding: 9px;
    font-size: 14px;
  }
  .input1{
    width: 555px;
    font-size: 16px;
  }
  .btn{
    font-size: 16px;
  }

  .section1{
    left: 364px;
    top: 200px;
  }
} */


@media screen and (max-width:1024px) and (min-width:769px){

  .head{
    padding: 15px 0;
    font-size: 24px;
  }
  .list1{
    padding: 0px 50px;
  
  }
  .list1 h5{
    font-size: 15px;
  }
  .list2{
    padding: 8px 50px;
  }
  .list2 h5{
    padding: 8px 0;
    font-size: 15px;
  }
  .list2 button{
    padding: 9px;
    font-size: 14px;
  }
  .input1{
    width: 400px;
    font-size: 15px;
  }
  .btn{
    font-size: 15px;
  }
  
  .section1{
    left: 260px;
    top: 541px;
  }
}

@media screen and (max-width:768px) and (min-width:427px){

  .head{
    padding: 15px 0;
    font-size: 24px;
  }
  .list1{
    padding: 0px 50px;
  
  }
  .list1 h5{
    font-size: 15px;
  }
  .list2{
    padding: 8px 50px;
  }
  .list2 h5{
    padding: 8px 0;
    font-size: 15px;
  }
  .list2 button{
    padding: 9px;
    font-size: 14px;
  }
  .input1{
    width: 400px;
    font-size: 15px;
  }
  .btn{
    font-size: 15px;
  }
  
  .section1{
    left: 134px;
    top: 550px;
  }
}

@media screen and (max-width:426px) and (min-width:376px){
  .head{
    padding: 15px 0;
    font-size: 24px;
  }
  .list1{
    padding: 0px 21px;
  
  }
  .list1 h5{
    font-size: 15px;
  }
  .list2{
    padding: 8px 21px;
  }
  .list2 h5{
    padding: 8px 0;
    font-size: 15px;
  }
  .list2 button{
    padding: 9px;
    font-size: 14px;
  }
  .input1{
    width: 251px;
    font-size: 15px;
  }
  .btn{
    font-size: 15px;
  }
  
  .section1{
    
    left: 29px;
    top: 550px;
    
  }

}

@media screen and (max-width:376px) and (min-width:321px){
  .head{
    padding: 15px 0;
    font-size: 24px;
  }
  .list1{
    padding: 0px 21px;
  
  }
  .list1 h5{
    font-size: 15px;
  }
  .list2{
    padding: 8px 21px;
  }
  .list2 h5{
    padding: 8px 0;
    font-size: 15px;
  }
  .list2 button{
    padding: 9px;
    font-size: 14px;
  }
  .input1{
    width: 228px;
    font-size: 15px;
    padding: 10px;

  }
  .btn{
    font-size: 15px;
    padding: 10px;
  }
  
  .section1{
    
    left: 24px;
    top: 550px;
    
  }

}

@media screen and (max-width:320px){
  .head{
    padding: 15px 0;
    font-size: 24px;
  }
  .list1{
    padding: 0px 21px;
  
  }
  .list1 h5{
    font-size: 15px;
  }
  .list2{
    padding: 8px 21px;
  }
  .list2 h5{
    padding: 8px 0;
    font-size: 15px;
  }
  .list2 button{
    padding: 9px;
    font-size: 14px;
  }
  .input1{
    width: 175px;
    font-size: 15px;
    padding: 10px;

  }
  .btn{
    font-size: 15px;
    padding: 10px;
  }
  
  .section1{
    
    left: 24px;
    top: 550px;
  }

}
